{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #e1e1e1;">
    
    <div style="margin: 1rem 1rem 1rem 1rem;">
        {% if user.is_authenticated %}
        <h1>Add A Person Application</h1>
        <br>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media}}
                {{ form.as_p}}
                <button class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>

    <script>
        let name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>
{% else %}
    <h1>You are not allowed here.</h1>
{% endif %}

</body>
</html>

{% endblock %}