{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #e1e1e1;" >

    <div style="margin: 1rem 1rem 0 1rem;">

        {% load bootstrap4 %}
    
        {% if user.is_authenticated and user.id == job_application.user_id %}
            <h1>Update Job Application</h1>
            <br>
            <div class="form-group">
                {% bootstrap_css %}
                {% bootstrap_javascript jquery='full' %}
                {{ form.media}}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
        
                    <button style="margin-bottom: 1rem;" class="btn btn-primary">Update</button>
                </form>
            </div>
            <script>
                let name = "{{ user.id }}";
                document.getElementById("user").value = name;

                document.querySelector('.django-ckeditor-widget').style.display = 'block'
            </script>
        
        {% else %}
            <h1>You are not allowed here.</h1>
        {% endif %}

    </div>
    

</body>
</html>



{% endblock %}