<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">

        <!-- Portfolio -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://marco-webportfolio.netlify.app/" role="button"
          ><i class="fa-solid fa-link"></i
        ></a>
  
        <!-- Twitter/X -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/software_marco" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Blog -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://marco020.pythonanywhere.com/" role="button"
          ><i class="fa-solid fa-blog"></i>
        </a>
  
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/marco-perez02/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Marco0201" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
      <span>Privacy policy: We do not collect or share any of your personal information.</span>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Made By:
      <a class="text-white" href="https://marco-webportfolio.netlify.app/">Marco Perez</a>
      © 2023 
    </div>
    <!-- Copyright -->
  </footer>